body {
    text-align: center;
    background-color: darkblue;
    color: white;
}

#calculator {
    overflow: hidden;
    display: none; 
    width: 99%;
    margin: 0 auto;
    box-sizing: border-box;
    border: 3px solid white;
}

#button {
    margin-bottom: 20px;
}